*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body{
    background-color: #565656;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
}
.clock{
    background: #eee;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
    -webkit-transform: rotate(calc(30deg * var(--i)));
    -moz-transform: rotate(calc(30deg * var(--i)));
    -ms-transform: rotate(calc(30deg * var(--i)));
    -o-transform: rotate(calc(30deg * var(--i)));
}
span b{
    transform: rotate(calc(-30deg * var(--i)));
    font-size: 20px;
    display: inline-flex;
    -webkit-transform: rotate(calc(-30deg * var(--i)));
    -moz-transform: rotate(calc(-30deg * var(--i)));
    -ms-transform: rotate(calc(-30deg * var(--i)));
    -o-transform: rotate(calc(-30deg * var(--i)));
}
.clock::after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.hand{
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform-origin: bottom center;
}
.hand i{
    position: absolute;
    background-color:var(--clr);
    width: 5px;
    height: var(--h);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
    