*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgba(0,0,0,0.7);
    gap: 2rem;
}
.stopwatch{
background-color: rgba(0,0,0,0.9);
color: #fff;
padding: 2rem 3rem ;
font-size: 4rem;
border-radius: 1rem;
}
.btn{
    background: none;
    border: 0;
    outline: none;
    background-color: var(--clr);
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 0.8rem;
    cursor: pointer;
    margin-inline: 0.2rem;

}